/* Highlights */
.highlight_left {
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom:1px solid;
  border-left:1px solid;
  border-top:1px solid;
  box-sizing:border-box;
  margin-left:-1px;
  margin-right:0px;
}

.highlight_right {
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  border-bottom:1px solid;
  border-right:1px solid;
  border-top:1px solid;
  box-sizing:border-box;
  margin-right:-1px;
  margin-left:0px;
}

.highlight_leftright {
  border-radius:3px;
  border:1px solid transparent;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  margin-left:-1px;
  margin-right:-1px;
}

.highlight_inner {
  border-top:1px solid;
  border-bottom:1px solid;
  box-sizing:border-box;
  padding:0px;
  margin:0px;
}

.highlight_black {
  background-color:rgba(0,0,0,1);
  border-color:rgba(0,0,0,1);
  color:white;
}

.highlight_lightgreen {
  background-color:rgba(162,209,75,0.6);
  border-color:rgba(162,209,75,0.4);
  color:black;
}

.highlight_lightblue {
  background-color:rgba(75,124,209,0.6);
  border-color:rgba(75,124,209,0.4);
  color:black;
}

.highlight_green {
  background-color:rgba(0,255,0,0.6);
  border-color:rgba(0,255,0,0.4);
  color:white;
}

.highlight_blue {
  background-color:rgba(0,0,255,0.6);
  border-color:rgba(0,0,255,0.4);
  color:white;
}

.highlight_red {
  background-color:rgba(255,0,0,0.6);
  border-color:rgba(255,0,0,0.4); 
  color:white;
}

.highlight_strongred {
  background-color:rgba(255,0,0,1) !important;
  border-color:rgba(255,0,0,1) !important;  
  color:white !important;
}

.highlight_grey {
  background-color:rgba(200,200,200,0.6);
  border-color:rgba(200,200,200,0.4); 
  color:black;
}

.highlight_yellow {
  background-color:rgba(255,255,0,0.6);
  border-color:rgba(255,255,0,0.4); 
  color:black;
}

.image-blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
}

.image-blur:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
}

.img-nav {
  position: relative;
}

.img-nav:hover input {
  display:block;
}

.img-nav input {
  position:absolute;
  display:none;
}

.highlight {
  background-color:#FFEE99;
  padding-left:2px;
  padding-right:2px;
  cursor:pointer
}

.highlight-correct {
  background-color:#BCFF7C !important;
}

.highlight-incorrect {
  background-color:#DDDDDD !important;
}

.highlight-unknown {
  background-color:#FFF6CC !important;
}

.feedback-box {
  text-align:center
}

.flag-help-icon {
  margin-top:5px;
  margin-left:10px;
  background-color:#CCC;
  color:white;
  border-radius:8px;
  display:inline-block;
  text-align:center;
  height:16px;
  width:16px;
  font-size:12px;
}

.flag-help-icon:hover {
  background-color:#000
}

.label-annotation {
  background-color:#FFF6CC;
  color:black !important;
}

.sq-btn {
  width:20px;
  height:20px;
  text-align:center;
  cursor:pointer;
  float:right;
  clear:right;
}

.sq-btn-active {
  background-color:black;
  border-radius:2px;
  color:white;
}

.label-default {
  background-color: #999;
}
.label-hover.label-default:hover,
.label-hover.label-default:focus {
  background-color: #808080;
}
.label-primary {
  background-color: #428bca;
}
.label-hover.label-primary:hover,
.label-hover.label-primary:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-hover.label-success:hover,
.label-hover.label-success:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-hover.label-info:hover,
.label-hover.label-info:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-hover.label-warning:hover,
.label-hover.label-warning:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-hover.label-danger:hover,
.label-hover.label-danger:focus {
  background-color: #c9302c;
}
