*~
.*.sw?
.#*
.DS_Store

.build
/@prefix@
/*.app
/skbdo-*.tar.gz
/skbdo-*.sh
/skbdo-*.dmg

/.depends/*
!/.depends/*.depends
!/.depends/*.commands
!/.depends/*.paths
!/.depends/*.test.sh
!/.depends/*.sh
!/.depends/*.txt

