*~
.*.sw?
.#*
.DS_Store

.build
/@prefix@
/*.app
/mindbender-*.tar.gz
/mindbender-*.sh
/mindbender-*.dmg

/.depends/*
!/.depends/*.depends
!/.depends/*.commands
!/.depends/*.paths
!/.depends/*.test.sh
!/.depends/*.sh
!/.depends/*.txt

node_modules
