<!-- Mindtagger inspection mode -->
<div>

<div mindtagger-navbar-top>

  <ul class="nav navbar-nav navbar-right">
    <!--
      <li class="dropdown"><a><i class="glyphicon glyphicon-filter"></i> Filter by <span class="caret"></span></a></li>
      <li class="dropdown"><a><i class="glyphicon glyphicon-sort-by-attributes"></i> Order by <span class="caret"></span></a></li>
    -->
    <li class="dropdown">
      <a class="dropdown-toggle"><i class="glyphicon glyphicon-tags"></i> Tags <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(tagName, tagSchema) in MindtaggerTask.schema.tags"><a>
          <i class="glyphicon glyphicon-tag"></i> {{tagName}}
          <div class="progress" ng-if="tagSchema.frequency">
            <div class="progress-bar" role="progressbar"
              ng-repeat="(value, frequency) in tagSchema.frequency"
              tooltip="{{value}}: {{frequency}}/{{MindtaggerTask.itemsCount}}"
              tooltip-placement="bottom" tooltip-animation="false"
              tooltip-trigger="mouseenter" tooltip-append-to-body="li"
              ng-class="MindtaggerUtils.progressBarClassForValue(value, $index)"
              aria-valuenow="{{100 * frequency / MindtaggerTask.itemsCount | number:1}}" aria-valuemin="0" aria-valuemax="100"
              style="width:  {{100 * frequency / MindtaggerTask.itemsCount | number:1}}%;">
            </div>
          </div>
        </a></li>
        <li class="divider"></li>
        <!-- <li><a>No grouping</a></li> -->
        <li><a data-toggle="modal" data-target="#manage-tags-modal"
                ><i class="glyphicon glyphicon-cog"></i> Manage Tags...</a></li>
      </ul>
    </li>
  </ul>

  <div mindtagger-insert-template="navbar"></div>

</div>

<section class="row">
<!-- Rendering items -->
<span mindtagger-insert-template="before-items"></span>
<span ng-repeat="item in MindtaggerTask.items">
<span mindtagger-insert-template="before-each-item"></span>
<span mindtagger-insert-template="each-item-container"
    mindtagger-item="item" ng-class="cursor ? 'mindtagger-cursor-item' : ''">
    <div class="panel panel-default"
      ng-class="cursor ? 'mindtagger-cursor-item panel-primary' : 'panel-default'">
        <div class="panel-body">
          <big>
            <div mindtagger-insert-template="each-item"></div>
          </big>
        </div>
        <div class="panel-footer">
          <!-- task-specific tagging UI elements -->
          <span mindtagger-insert-template="tags"></span>
        </div>
    </div>
</span>
<span mindtagger-insert-template="after-each-item"></span>
</span>
<span mindtagger-insert-template="after-items"></span>
</section>

<div mindtagger-navbar-bottom>
    <div mindtagger-insert-template="pagination"></div>
</div>

</div>
