<div ng-init="
    MindtaggerTask.defineTags({
    })
">

<div mindtagger-navbar>
  <div mb-transclude="[for-mindtagger-navbar]"></div>

  <!-- custom tagging UI elements -->
  <div class="navbar-form" mb-transclude="[for-mindtagger-tags]"></div>

</div>

<section class="row">

<!-- Rendering items as inline text -->
<span class="item" ng-repeat="item in MindtaggerTask.items"
  ng-class="$index == MindtaggerTask.cursor.index ? 'text-info' : 'text-muted'"
  ng-init="tag = MindtaggerTask.tagOf(item)"
  ng-click="MindtaggerTask.moveCursorTo($index)">
  <span mb-transclude="[for-each-mindtagger-item]"></span>
</span>

</section>

<div mindtagger-pagination>
  <div mb-transclude="[for-mindtagger-pagination]"></div>
</div>

</div>
