<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation"
  ng-if="MindtaggerTask.items.length > 0">
  <div class="container">
    <div ng-transclude></div>

    <div class="col-md-2 text-left" style="padding-top:20px;">
      <span class="input-group">
        <input type="number" min="1" max="50" size="2" value="10"
          ng-model="MindtaggerTask.itemsPerPage" ng-change="pageSizeChanged()" 
          class="form-control">
        <span class="input-group-addon">per page</span>
      </span>
    </div>

    <div class="col-md-8 text-center">
      <pagination total-items="MindtaggerTask.itemsCount" items-per-page="MindtaggerTask.itemsPerPage"
        ng-model="MindtaggerTask.currentPage" ng-change="pageChanged()"
        max-size="4" class="pagination" boundary-links="true" rotate="false"></pagination>
    </div>

    <div class="col-md-2 text-right" style="padding-top:20px;">
      <button class="btn btn-info" data-toggle="modal" data-target="#export-modal">
        <i class="glyphicon glyphicon-save"></i> Export
      </button>
    </div>
  </div>
</nav>
<style>body { padding-bottom: 100px; }</style>
