<!-- UI elements for tags with set of multiple values -->
<div class="btn-toolbar" role="toolbar">

<span class="btn-group">
  <!-- dropup button for choosing the tag -->
  <span class="btn-group dropup">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-tag"></i> {{MindtaggerValueSetTag.name}}
      <span class="badge" ng-if="MindtaggerValueSetTag.values.length > 0">{{MindtaggerValueSetTag.values.length}}</span>
      <span class="caret"></span>
    </button>
    <!-- dropdown for selecting other "set"-type tags -->
    <ul class="dropdown-menu" role="menu">
      <!-- TODO allow to define new 'set'-type tags via modal -->
      <li class="disabled"><a><span class="text-primary"><i class="fa fa-plus"></i> Create a new tag</span>
      </a></li>
      <li ng-repeat="(tagName,tagSchema) in MindtaggerTask.schema.tags"
        ng-class="tagName == MindtaggerValueSetTag.name ? 'active' : ''"
        ng-if="tagSchema.type == 'set'"><a ng-click="MindtaggerValueSetTag.name = tagName"
            mindtagger-hotkey="{{MindtaggerTask.tagShortcutKey[tagName]}}" title="Switch to tag '{{tagName}}'">
          <i class="fa fa-tag"></i> {{tagName}}
          <span class="badge" ng-if="tag[tagName].length > 0">{{tag[tagName].length}}</span>
      </a></li>
      <li class="divider"></li>
      <li ng-if="MindtaggerValueSetTag.values.length > 0"><a ng-click="MindtaggerValueSetTag.values = []; commit(item,tag)">
          <span class="text-danger">
            <i class="fa fa-trash"></i> Remove all <span class="badge">{{MindtaggerValueSetTag.values.length}}</span> values
          </span>
      </a></li>
    </ul>
  </span>
  <!-- button to add/remove current value to the set -->
  <button type="button" class="btn"
    ng-class="MindtaggerValueSetTag.withValue == null ? 'btn-default disabled' :
              MindtaggerValueSetTag.contains() ? 'btn-danger' : 'btn-primary'"
    ng-click="MindtaggerValueSetTag.toggle(); commit(item,tag)">
    <span ng-if="!MindtaggerValueSetTag.contains()"
      title="Add value {{renderValue(MindtaggerValueSetTag.withValue)}} to {{MindtaggerValueSetTag.name}}">
      <i class="fa fa-plus"></i>
    </span>
    <span ng-if="MindtaggerValueSetTag.contains()"
      title="Remove value {{renderValue(MindtaggerValueSetTag.withValue)}} from {{MindtaggerValueSetTag.name}}">
      <i class="fa fa-remove"></i>
    </span>
  </button>

  <!-- TODO clear all button? -->
</span>

<span class="btn-group" ng-repeat="value in MindtaggerValueSetTag.values">
  <!-- button for each value -->
  <button class="btn btn-default btn-xs"
    ng-class="equals(MindtaggerValueSetTag.withValue, value) ? 'active' : ''"
    ng-click="MindtaggerValueSetTag.withValue = value">{{renderValue(value)}}</button>
</span>

</div>
