<link rel="stylesheet" href="dashboard/style.css">

<nav class="navbar navbar-default">
  <div class="container-fluid">
		<div class="navbar-header">
      <a class="navbar-brand" href="/#/dashboard/" style="font-weight: bold;">DeepDive Dashboard</a>
    </div>
		
		<div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="navLink in navLinks"
            ng-class="{
                active   : ('#'+location.$$path == navLink.url),
                dropdown : (navLink.links.length > 1),
            }">
            <a ng-if="!(navLink.links.length > 1)" href="{{ navLink.url }}">{{ navLink.name }}</a>

            <a ng-if=" (navLink.links.length > 1)" href="{{ navLink.url }}"
                class="dropdown-toggle" data-toggle="dropdown">
                {{ navLink.name }} <span class="caret"></span>
            </a>
            <ul ng-if="(navLink.links.length > 1)" class="dropdown-menu" role="menu">
                <li ng-repeat="link in navLink.links"
                    ng-class="{divider : link.isDivider}">
                    <!-- TODO different style -->
                    <a ng-if="!link.isDivider" href="{{ link.url }}">{{ link.name }}</a>
                </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="header">{{ title }}</div>
