<div ng-include="'dashboard/header.html'"></div>

<div class="form-inline">
	<div class="input-group">
		<span class="input-group-addon" style="font-weight:bold;">Template</span>
		<select ng-model="currentTemplateName" class="form-control">
			<option ng-repeat="templateName in templateList">{{ templateName }}</option>
		</select>
	</div>
</div>


	<form action="" method="post">
		<div class="template">
			<div class="form-inline">
				<div class="input-group">
					<span class="input-group-addon" style="font-weight:bold;">Type</span>
					<span style="display:inline-block;margin-left:10px">
						<label class="radio-inline">
							<input type="radio" ng-model="formatted" name="formatted" ng-value="true"> Formatted
							</label>
						<label class="radio-inline">
							<input type="radio" ng-model="formatted" name="formatted" ng-value="false"> Custom
						</label>
					</span>
				</div>
			</div>
			<br>
			<div ng-switch="formatted" ng-show="template">
				<div class="formatted" ng-switch-when="true">
					<textarea ng-model="template.sqlTemplate" placeholder="SQL Query"></textarea>
				</div>
				<div class="custom" ng-switch-when="false">
					<textarea ng-model="template.markdownTemplate" placeholder="Markdown"></textarea>
				</div>
				<div class="row">
					<div class="col-md-9">
						<h4>Parameters</h4>
						<table class="table table-striped">
							<tr>
								<th>Name</th>
								<th>Default Value</th>
								<th>Description</th>
								<th>Required</th>
							</tr>
							<tr ng-repeat="details in template.params">
								<td><input type="text" name="param" ng-value="details['name']"></td>
								<td><input type="text" name="details['defaultValue']" ng-value="details['defaultValue']" style="width:100px"></td>
								<td><input type="text" style="width:250px" name="details['description']" ng-value="details['description']"></td>
								<td style="text-align: center"><input type="checkbox" name="details['isRequired']" ng-value="details['isRequired']"></td>
							</tr>
						</table>
						<img src="dashboard/images/plus_green.png" ng-click="addVariable()">
					</div>
					<div class="col-md-3" ng-switch-when="true">
						<h4>Graph</h4>
						<input type="checkbox"> Graph:
						<div>X: <input type="text"></div>
						<div>Y: <input type="text"></div>
					</div>
				</div>
				<input type="submit" class="btn btn-success" ng-click="updateTemplate()" value="Update Template">
			</div>
		</div>
	</form>
