body {
	font-family: arial;
}

a {
	color: #000;
}

table {
	border-collapse: collapse;
}

table td, th {
	border: 1px solid #000;
	text-align: center;
}

.header {
	text-align: center;
	font-weight: bold;
	font-size: 30pt;
}
	
.menu {
	margin: 10px;
	padding: 30px 10px;
	border: 1px solid #000;
	border-radius: 5px;
}

.menu .item {
	background: linear-gradient(to bottom, rgba(112,112,112,0.56) 18%, rgba(0,0,0,0) 100%);
	padding: 5px;
	font-size: 20pt;
	width: 160px;
	height: 200px;
	text-align: center;
	border: 1px solid #000;
	float: left;
	margin-left: 50px;
}

.template {
	margin-bottom: 20px;
	border: 1px solid #000;
	padding: 10px;
	width: 710px;
}

.template select, input[type=text] {
	width: 200px;
	margin: 5px 0px;
}

.template textarea {
	width: 700px;
	height: 200px;
}
	
.template .variables, .graph {
	float: left;
}

.template .graph {
	margin-left: 30px;
}

.custom textarea {
	height: 400px;
}

.clear {
	clear: both;
}

.tabs div {
	float: left;
	background-color: rgba(0,0,0,.1);
	border: 1px solid #000;
	padding: 3px;
	cursor: pointer;
}

#report-table {
	float: left;
	width: 400px;
}

#report-table table {
	width: 100%;
}

.report-chart {
	margin-left: 30px;
	float: left;
	width: 600px;
}

.report-chart .chart {
	border: 1px solid #000;
	height: 300px;
	width: 590px;
}

.report-list {
	margin-left: 2px;
	width: 400px;
	float: left;
	border: 2px solid #000;
	border-radius: 5px;
	min-height: 800px;
	padding: 5px;
	overflow: auto;
	white-space: nowrap;
}

.report-list .list-title {
	font-weight: bold;
}

#slider {
	width: 200px;
	margin-left: 200px;
	margin-bottom: 10px;
}

iframe {
	border: 2px solid #000;
	border-radius: 5px;
}
