body {
	font-family: arial;
}

a {
	color: #000;
}

table {
	border-collapse: collapse;
}

table td {
	border: 1px solid #000;
	text-align: center;
}

.header {
	font-weight: bold;
	font-size: 25pt;
}


.menu .item {
	background: linear-gradient(to bottom, rgba(112,112,112,0.56) 18%, rgba(0,0,0,0) 100%);
	padding: 5px;
	font-size: 20pt;
	width: 160px;
	height: 230px;
	border: 1px solid #000;
	margin-left: 50px;
	text-align: center;
}

.template {
	margin-bottom: 20px;
	border: 1px solid #000;
	padding: 10px;
	width: 900px;
}

.template select, input[type=text] {
	width: 200px;
	margin: 5px 0px;
}

.template textarea {
	width: 700px;
	height: 200px;
}
	
.template .variables, .chart {
	float: left;
}

.template .chart {
	margin-left: 30px;
}

.custom textarea {
	height: 400px;
}

.clear {
	clear: both;
}

.tabs div {
	float: left;
	background-color: rgba(0,0,0,.1);
	border: 1px solid #000;
	padding: 3px;
	cursor: pointer;
}

#report-table {
	float: left;
	width: 500px;
}

#report-table table {
	width: 100%;
}

#report-table th {
	text-align: center;
}

.report-chart {
	margin-left: 30px;
	float: left;
	width: 600px;
}

.report-chart .chart {
	margin-top: 10px;
	border: 1px solid #000;
}

#slider {
	width: 200px;
	margin-left: 210px;
}