<div ng-include="'dashboard/header.html'"></div>

<div class="container-fluid">
	<table ng-repeat="(report, reportValues) in chartSnapshotsConfig.reportValues" class="table table-striped" style="table-layout: fixed;">
		<tr>
			<th style="width:15%;text-decoration:underline">{{ report }}</th>
			<th style="background-color:#FFF;border:0"></th>
		</tr>
		<tr ng-repeat="(valueName, values) in reportValues">
			<td style="overflow:auto">
				<a href="#/trend/{{ report }}/{{ valueName }}">{{ valueName }}</a>
			</td>
			<td ng-switch="isNumeric(values)">
				<div ng-switch-when="true" class="sparkline" data-report="{{ report }}" data-value-name="{{ valueName }}" style="position:relative;left:{{ 100 / values.length / 2 }}%;width:{{ 100 - 100 / values.length + 1 }}%;height:50px;"></div>
				<color-band ng-switch-when="false" chart-snapshots-config="chartSnapshotsConfig" report="{{ report }}" valueName="{{ valueName }}"></color-band>
			</td>
		</tr>
	</div>
</div>

