<!-- Search Page -->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mindtagger-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">DeepDive</a>
        </div>

        <form class="navbar-form navbar-right" role="search" style="width:75%;">
            <div class="form-group input-group" style="width:100%;">
                <!-- type dropdown -->
                <div class="input-group-btn" style="width:1%;" ng-if="search.types">
                    <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{search.params.t ? "In " + search.params.t : "All"}}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="search.params.t = null; search.doSearch()">All</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-repeat="ty in search.types"><a ng-click="search.params.t = ty; search.doSearch()">{{ty}}</a></li>
                    </ul>
                </div>
                <!-- search box -->
                <input type="text" class="form-control"
                    placeholder="Search keywords, field:/regex/, ..."
                    ng-model="search.params.q">
                <!-- search button -->
                <span class="input-group-btn" style="width:1%;">
                    <button type="submit" class="btn btn-primary" ng-click="search.doSearch()">Search</button>
                </span>
            </div>
        </form>
    </div>
</nav>
<style>body { padding-top: 70px; }</style>


<!-- Search results -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 sidebar">
            <!-- TODO faceted search (aggregations) -->
        </div>
        <div class="col-xs-10 col-xs-offset-2 main">
            <!-- search results summary -->
            <p class="lead">
                <span ng-if="! search.results.hits.total > 0">No results</span>
                <span ng-if="search.results.hits.total > 0">
                    {{
                        search.query.body.from + 1                               | number
                    }}-{{
                        search.query.body.from + search.results.hits.hits.length | number
                    }} of {{search.results.hits.total | number}} results
                </span>
                for [<strong>{{search.query.q}}</strong>]
                <span ng-if="search.query.type"> in <em>{{search.query.type}}</em></span>
            </p>

            <!-- individual search results -->
            <ul>
                <li ng-repeat="result in search.results.hits.hits">
                    {{result._source | json | limitTo: 500}}
                    <!-- TODO use presentation template for this entity -->
                </li>
            </ul>

            <!-- debug info -->
            <h3>query</h3>
            <code><pre>{{search.query   | json}}</pre></code>
            <h3>result</h3>
            <code><pre>{{search.results | json}}</pre></code>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="text-center">
            <pagination class="pagination-sm fa"
            total-items="search.results.hits.total" items-per-page="search.params.n"
            ng-model="search.params.p"
            ng-model-options="{ debounce: 200 }"
            previous-text="&#xf04a;" next-text="&#xf04e;" first-text="&#xf049;" last-text="&#xf050;"
            max-size="9" boundary-links="true"></pagination>
        </div>
    </div>
</nav>
<style>body { padding-bottom: 70px; }</style>
